.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  /*background: linear-gradient(to bottom, #6699ff 0%, #ff99cc 100%);*/
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 92, 121, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );
}
.App a {
  color: lightgrey;
}
.audio-recorder {
  display: none;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-trackinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cover-image {
  height: 50%;
  border: 2px solid black;
  border-radius: 150px;
  animation: spin 7s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.wiki-logo {
  height: 20%;
  opacity: 0.6;
  filter: grayscale(1);
}
.discogs-logo {
  height: 5%;
  opacity: 0.6;
  filter: grayscale(1);
}
.wrong-info {
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.wrong-info:hover {
  opacity: 0.5;
}

.info-wikipedia {
  width: 33.3333%;
  padding: 10px;
  border-radius: 15px;
  background: rgba(100, 10, 10, 0.2);
  margin-right: 20px;
  margin-left: 20px;
}

.currently-spinning {
  width: 33.3333%;
  padding: 10px;
  border-radius: 15px;
  background: rgba(100, 10, 10, 0.2);
  margin-right: 20px;
}

.info-discogs {
  width: 33.3333%;
  padding: 10px;
  border-radius: 15px;
  background: rgba(100, 10, 10, 0.2);
  margin-right: 20px;
}
.info-discogs ul {
  list-style: none;
}
.discogs-list-item img {
  width: 50%;
  border: 1px solid black;
}
.discogs-list-item li {
  font-size: 8pt;
  text-align: left;
}
.discogs-list-item {
  display: flex;
  flex-direction: row;
  align-items: left;
}
