.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: white;
  /*background: linear-gradient(to bottom, #6699ff 0%, #ff99cc 100%);*/
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 92, 121, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );
}
.audio-recorder {
  display: none;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover-image {
  height: 50%;
}
.wrong-info {
  font-size: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.wrong-info:hover {
  opacity: 0.5;
}
